.top {
	background: #ff4351;
	border-bottom: 1px solid #282828;

}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #eee;
}

.sub-header {
	background-color: #e6e6e6;

} 
#logo {
padding-top: 140px;

} 
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #e6e6e6;
}
.footer p {margin:20px 40px;}

@media screen and (max-width: 768px) {
    
    .sub-header h5{
    	font-size:12px;
    }
    
}